    
name: Sync Dependencies with upstream

on:
  schedule:
    - cron: '0 12 * * 1-5' # run every working day at 12pm UTC
  # Allow manual executions
  workflow_dispatch: 

env:
  author: "github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>"


jobs:
  get-upstream-dependencies:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout 
      uses: actions/checkout@v6

    - name: Get latest upstream chart version
      id: capi-helm-chart
      uses: azimuth-cloud/github-actions/helm-latest-version@master
      with: 
        repository: "https://azimuth-cloud.github.io/capi-helm-charts"
        chart: "openstack-cluster"

    # TODO: once azimuth-cloud/capi-helm-charts provides their own pinned k-orc installation method, we pick up the latest version  
    - name: "Get latest Openstack Resource Controller (K-orc) version"
      id: k-orc
      uses: pozetroninc/github-action-get-latest-release@master
      with:
        repository: k-orc/openstack-resource-controller
        excludes: prerelease, draft

    - name: "Create new dependencies.yaml"
      id: append-version
      run: |
        touch /tmp/dependencies.yaml
        echo 'cluster-chart: "${{ steps.capi-helm-chart.outputs.version }}"' >> /tmp/dependencies.yaml
        echo 'k-orc: "${{ steps.k-orc.outputs.release }}"' >> /tmp/dependencies.yaml


    - name: Check if dependencies changed
      id: check-changes
      run: |
        if [ -f "/tmp/dependencies.yaml" ] && [ -s "/tmp/dependencies.yaml" ]; then
          if cmp -s /tmp/dependencies.yaml dependencies.yaml; then
            echo "File unchanged"
            echo "changed=false" >> $GITHUB_OUTPUT
          else
            echo "File changed"
            mv /tmp/dependencies.yaml dependencies.yaml
            echo "changed=true" >> $GITHUB_OUTPUT
          fi
        else
          echo "Something went wrong.. Aborting."
          echo "changed=false" >> $GITHUB_OUTPUT
        fi

    - name: "Create Pull Request for updating dependencies"
      if: ${{ steps.check-changes.outputs.changed }}
      id: make-pr
      uses: peter-evans/create-pull-request@v8
      env:
        pr-title: "Update Build Dependencies to match upstream"
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        commit-message: ${{ env.pr-title }}
        author: ${{ env.author }}
        committer: ${{ env.author }}
        branch: "deps-autoupdate"
        delete-branch: true
        title: ${{ env.pr-title }}
        labels: |
          automated
          dependency-update
        body: |
          :robot: I have updated the dependencies.yaml file *beep* *boop*
          ---
          ## Description of the changes
          This PR updates the dependencies.yaml to pull the latest versions. 
          Please test this by creating a cluster with these values before merging